/* Background */ .bg { color: #24292e !important; background-color: #ffffff !important; }
/* PreWrapper */ .chroma { color: #24292e !important; background-color: #ffffff !important; }
/* Other */ .chroma .x { }
/* Error */ .chroma .err { color: #b31d28 !important; background-color: #ffeef0 !important; }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #fffbdd !important; }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #959da5 !important; }
/* LineNumbers */ .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #959da5 !important; }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #d73a49 !important; }
/* KeywordConstant */ .chroma .kc { color: #d73a49 !important; }
/* KeywordDeclaration */ .chroma .kd { color: #d73a49 !important; }
/* KeywordNamespace */ .chroma .kn { color: #d73a49 !important; }
/* KeywordPseudo */ .chroma .kp { color: #d73a49 !important; }
/* KeywordReserved */ .chroma .kr { color: #d73a49 !important; }
/* KeywordType */ .chroma .kt { color: #d73a49 !important; }
/* Name */ .chroma .n { }
/* NameAttribute */ .chroma .na { color: #005cc5 !important; }
/* NameBuiltin */ .chroma .nb { color: #005cc5 !important; }
/* NameBuiltinPseudo */ .chroma .bp { color: #005cc5 !important; }
/* NameClass */ .chroma .nc { color: #6f42c1 !important; }
/* NameConstant */ .chroma .no { color: #005cc5 !important; }
/* NameDecorator */ .chroma .nd { color: #6f42c1 !important; }
/* NameEntity */ .chroma .ni { color: #24292e !important; }
/* NameException */ .chroma .ne { color: #6f42c1 !important; }
/* NameFunction */ .chroma .nf { color: #6f42c1 !important; }
/* NameFunctionMagic */ .chroma .fm { color: #6f42c1 !important; }
/* NameLabel */ .chroma .nl { color: #6f42c1 !important; }
/* NameNamespace */ .chroma .nn { color: #6f42c1 !important; }
/* NameOther */ .chroma .nx { }
/* NameProperty */ .chroma .py { color: #005cc5 !important; }
/* NameTag */ .chroma .nt { color: #22863a !important; }
/* NameVariable */ .chroma .nv { color: #005cc5 !important; }
/* NameVariableClass */ .chroma .vc { color: #005cc5 !important; }
/* NameVariableGlobal */ .chroma .vg { color: #005cc5 !important; }
/* NameVariableInstance */ .chroma .vi { color: #005cc5 !important; }
/* NameVariableMagic */ .chroma .vm { color: #005cc5 !important; }
/* Literal */ .chroma .l { }
/* LiteralDate */ .chroma .ld { }
/* LiteralString */ .chroma .s { color: #032f62 !important; }
/* LiteralStringAffix */ .chroma .sa { color: #032f62 !important; }
/* LiteralStringBacktick */ .chroma .sb { color: #032f62 !important; }
/* LiteralStringChar */ .chroma .sc { color: #032f62 !important; }
/* LiteralStringDelimiter */ .chroma .dl { color: #032f62 !important; }
/* LiteralStringDoc */ .chroma .sd { color: #032f62 !important; }
/* LiteralStringDouble */ .chroma .s2 { color: #032f62 !important; }
/* LiteralStringEscape */ .chroma .se { color: #24292e !important; }
/* LiteralStringHeredoc */ .chroma .sh { color: #032f62 !important; }
/* LiteralStringInterpol */ .chroma .si { color: #24292e !important; }
/* LiteralStringOther */ .chroma .sx { color: #032f62 !important; }
/* LiteralStringRegex */ .chroma .sr { color: #032f62 !important; }
/* LiteralStringSingle */ .chroma .s1 { color: #032f62 !important; }
/* LiteralStringSymbol */ .chroma .ss { color: #032f62 !important; }
/* LiteralNumber */ .chroma .m { color: #005cc5 !important; }
/* LiteralNumberBin */ .chroma .mb { color: #005cc5 !important; }
/* LiteralNumberFloat */ .chroma .mf { color: #005cc5 !important; }
/* LiteralNumberHex */ .chroma .mh { color: #005cc5 !important; }
/* LiteralNumberInteger */ .chroma .mi { color: #005cc5 !important; }
/* LiteralNumberIntegerLong */ .chroma .il { color: #005cc5 !important; }
/* LiteralNumberOct */ .chroma .mo { color: #005cc5 !important; }
/* Operator */ .chroma .o { color: #d73a49 !important; }
/* OperatorWord */ .chroma .ow { color: #d73a49 !important; }
/* Punctuation */ .chroma .p { }
/* Comment */ .chroma .c { color: #6a737d !important; }
/* CommentHashbang */ .chroma .ch { color: #6a737d !important; }
/* CommentMultiline */ .chroma .cm { color: #6a737d !important; }
/* CommentSingle */ .chroma .c1 { color: #6a737d !important; }
/* CommentSpecial */ .chroma .cs { color: #6a737d !important; }
/* CommentPreproc */ .chroma .cp { color: #6a737d !important; }
/* CommentPreprocFile */ .chroma .cpf { color: #6a737d !important; }
/* Generic */ .chroma .g { }
/* GenericDeleted */ .chroma .gd { color: #b31d28 !important; background-color: #ffeef0 !important; }
/* GenericEmph */ .chroma .ge { font-style: italic; }
/* GenericError */ .chroma .gr { }
/* GenericHeading */ .chroma .gh { font-weight: bold; }
/* GenericInserted */ .chroma .gi { color: #22863a !important; background-color: #f0fff4 !important; }
/* GenericOutput */ .chroma .go { }
/* GenericPrompt */ .chroma .gp { }
/* GenericStrong */ .chroma .gs { font-weight: bold; }
/* GenericSubheading */ .chroma .gu { font-weight: bold; }
/* GenericTraceback */ .chroma .gt { }
/* GenericUnderline */ .chroma .gl { text-decoration: underline; }
/* TextWhitespace */ .chroma .w { }